NotificationProjectFrontendMVC/NotificationProjectFrontendMVC/Connected Services/NotificationServiceReference/NotificationService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="NotificationService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8184/NotificationService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8184/NotificationService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8184/NotificationService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/NotificationProjectBackendWCF" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="INotificationService_InsertAnnouncement_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertAnnouncement" />
  </wsdl:message>
  <wsdl:message name="INotificationService_InsertAnnouncement_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertAnnouncementResponse" />
  </wsdl:message>
  <wsdl:message name="INotificationService_ListAnnouncement_InputMessage">
    <wsdl:part name="parameters" element="tns:ListAnnouncement" />
  </wsdl:message>
  <wsdl:message name="INotificationService_ListAnnouncement_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListAnnouncementResponse" />
  </wsdl:message>
  <wsdl:message name="INotificationService_DeleteAnnouncement_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteAnnouncement" />
  </wsdl:message>
  <wsdl:message name="INotificationService_DeleteAnnouncement_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteAnnouncementResponse" />
  </wsdl:message>
  <wsdl:message name="INotificationService_UpdateAnnouncement_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateAnnouncement" />
  </wsdl:message>
  <wsdl:message name="INotificationService_UpdateAnnouncement_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateAnnouncementResponse" />
  </wsdl:message>
  <wsdl:portType name="INotificationService">
    <wsdl:operation name="InsertAnnouncement">
      <wsdl:input wsaw:Action="http://tempuri.org/INotificationService/InsertAnnouncement" message="tns:INotificationService_InsertAnnouncement_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INotificationService/InsertAnnouncementResponse" message="tns:INotificationService_InsertAnnouncement_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListAnnouncement">
      <wsdl:input wsaw:Action="http://tempuri.org/INotificationService/ListAnnouncement" message="tns:INotificationService_ListAnnouncement_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INotificationService/ListAnnouncementResponse" message="tns:INotificationService_ListAnnouncement_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteAnnouncement">
      <wsdl:input wsaw:Action="http://tempuri.org/INotificationService/DeleteAnnouncement" message="tns:INotificationService_DeleteAnnouncement_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INotificationService/DeleteAnnouncementResponse" message="tns:INotificationService_DeleteAnnouncement_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateAnnouncement">
      <wsdl:input wsaw:Action="http://tempuri.org/INotificationService/UpdateAnnouncement" message="tns:INotificationService_UpdateAnnouncement_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INotificationService/UpdateAnnouncementResponse" message="tns:INotificationService_UpdateAnnouncement_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_INotificationService" type="tns:INotificationService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="InsertAnnouncement">
      <soap:operation soapAction="http://tempuri.org/INotificationService/InsertAnnouncement" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListAnnouncement">
      <soap:operation soapAction="http://tempuri.org/INotificationService/ListAnnouncement" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteAnnouncement">
      <soap:operation soapAction="http://tempuri.org/INotificationService/DeleteAnnouncement" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateAnnouncement">
      <soap:operation soapAction="http://tempuri.org/INotificationService/UpdateAnnouncement" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="NotificationService">
    <wsdl:port name="BasicHttpBinding_INotificationService" binding="tns:BasicHttpBinding_INotificationService">
      <soap:address location="http://localhost:8184/NotificationService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>